# Database connection string
DATABASE_URL=postgresql://user:password@localhost:5432/lulu_discord

DISCORD_TOKEN=

# (Optional) Static Fallback Server ID for single-guild development environments
GUILD_ID=
